<%= form_with(model: [commentable, comment]) do |form| %>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, required: true %>
  </div>

  <%= form.submit %>
<% end %>
