<h1><%= t '.heading' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('defaults.show', item: Book.model_name.human), @book %> |
  <%= link_to t('defaults.back_to_list', item: Book.model_name.human.pluralize(I18n.locale)), books_path %>
</nav>
